.wrapper {
  margin: 50px 20px;
}

.title {
  text-align: center;
}

.thumb {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

.list {
  list-style: none;
  margin: 10px 20px;
  color: var(--tomato-color);
}

.link {
  display: inline-flex;
  padding: 4px 8px;
  color: var(--link-color);

  transition: color 300ms linear;
}

.link:hover,
.link:focus {
  color: var(--accent-color);

  transition: color 300ms linear;
}
