.wrapper {
  margin-top: auto;
  width: 100%;
  padding: 20px;
}

.thumb {
  text-align: center;
}

b {
  color: var(--dark-color);
}

.link {
  display: inline-flex;
  color: var(--dark-color);
  margin-left: 20px;

  transition: color 300ms linear;
}

.link:hover,
.link:focus {
  color: var(--accent-color);

  transition: color 300ms linear;
}
