@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-color: rgb(220, 220, 230);
  --dark-color: rgb(43, 43, 43);
  --link-color: rgb(25, 75, 150);
  --accent-color: rgb(255, 100, 50);
}

#root,
html,
body {
  min-height: 100vh;
}
